.Dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.Dialogs__Items {

}

.Dialog {
    padding: 5px;
}

.Messages {

}

.Messages__Items {

}

.Message {
    padding: 5px;
}
